html { overflow-y: scroll; }
body { padding-top: 50px; }
h1 span { font-weight: lighter; color: #aaa; font-size: 18px;}
h3 { margin: 35px 0 35px 0; font-weight: normal; }
h4 { margin-bottom: 30px; font-weight: normal; }
table { margin-top: 25px; }
#data { width: 100%; margin-bottom: 10px; }
#data_tab { margin-top: 25px; }
#raw strong { margin-right: 10px; }
.slogan { padding: 40px 0; background: #fff url('../img/logo-fatec.png') right 65px no-repeat; }
@media all and (max-width: 700px) { .slogan { background: none; } #fork-me { display: none; }}
.action{ margin-top: 25px; padding: 10px; border-top: 1px solid #ccc; background-color: #eee; }
.action input { margin-right: 5px; }
.table-striped th { background-color: #ddd; text-shadow: #fff 1px 1px; }
.tab-pane { margin-top: 35px; }
.tab-content { min-height: 400px; }
.histogram { text-align: center; }
#normal-distribution { margin: 33px 0 40px 0; }
#normal-distribution p { margin-bottom: 35px; }
#normal-distribution input[type=number] { width: 80px; margin: 0 25px; }
#probability-question, #probability-answer, #ajax-loader, #mean-value, #update-mean, #standard-deviation-value, #update-standard-deviation { display: none; }
#update-mean, #update-standard-deviation { margin-right: 20px; }
#edit-mean, #edit-standard-deviation { font-weight: bolder; }
.chart { position: relative; width:100%; height: 350px; }
.external {padding-right: 15px; background: #fff url("../img/external.png") no-repeat right center; }
.alert { display: none; }
.footer { margin-top: 50px; border-top: 1px solid #ccc; }
.footer p { margin: 25px 0 20px 0; text-align: center; }
