body { padding-top: 50px; }
h1 span { font-weight: lighter; color: #aaa; font-size: 18px;}
h3 { margin: 35px 0 25px 0; font-weight: lighter; }
table { margin-top: 25px; }
#data { width: 100%; }
#data_tab { margin-top: 25px; }
.slogan { padding: 40px 0; background: #fff url('../img/logo-fatec.png') right 65px no-repeat; }
@media all and (max-width: 700px) { .slogan { background: none; }}
.action{ margin-top: 25px; padding: 10px; border-top: 1px solid #ccc; background-color: #eee; }
.action input { margin-right: 5px; }
.table-striped th { background-color: #ddd; text-shadow: #fff 1px 1px; }
.tab-pane { margin-top: 35px; }
.external {padding-right: 15px; background: #fff url("../img/external.png") no-repeat right center; }
.alert { display: none; }
.footer { margin-top: 50px; border-top: 1px solid #ccc; }
.footer p { margin: 25px 0 20px 0; text-align: center; }