<p>Projeto desenvolvido utilizando práticas de TDD e ferramentas open-source, com o objetivo de auxiliar as aulas de Estatística na FATEC Franca. Dentre as técnologias e frameworks utilizados destacam-se:</p>

<ul>
  <li><a href="http://www.sinatrarb.com" target="blank" class="external">Sinatra</a></li>
  <li><a href="http://jquery.com" target="blank" class="external">jQuery</a></li>
  <li><a href="http://getbootstrap.com" target="blank" class="external">Bootstrap</a></li>
</ul>