<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Variância</h4>
      </div>
      <div class="panel-body"><%= @statistic.variance %></div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Desvio Padrão</h4>
      </div>
      <div class="panel-body"><%= @statistic.standard_deviation %></div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Coeficiente de variação</h4>
      </div>
      <div class="panel-body"><%= @statistic.coefficient_of_variation %>%</div>
    </div>
  </div>
</div>